$break: 768px;

$light-grey: #808285;
$orange: #EC832F;
$light-blue: #89BEC3;
$teal: #8BBEC3;


$font-color: $light-grey;
$accent-color: $orange;


@mixin mx-auto {
  margin-left: auto;
  margin-right: auto;
}


@mixin event-month {
  @include sans-bold;
  width: 100%;
  color: $accent-color;
  @content;
}

@mixin event-date {
  @include sans-light;
  line-height: 10rem;

  display: inline;
  border-right: 2px solid $accent-color;
  padding-right: 1rem;
  color: $accent-color;
  @content;
}
