/*=== Navbar Styles===*/

//--- Layout ---//
.navbar {
  align-items: center;
  background-color: transparent;
  height: 9rem;

  @media screen and (min-width: $break) {
    background-color: white;
  }
  @media screen and (max-width: $break - 1) {
    padding-left: 0;
    padding-right: 0;
  }
}

.cd-nav {
  justify-content: flex-end;
  padding: 2rem;

  @media screen and (max-width: $break - 1) {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    padding-top: 200px;
    z-index: 99;
  }
}

//--- Components ---//
.navbar-toggler {
  color: $font-color;
  margin-left: auto;
  z-index: 1099;
  i {
    z-index: 2099;
    font-size: 3rem;
    transition: color .2s;
  }

  &.open-menu {
    i {
      color: $font-color;
    }
  }
}

.header-img .navbar-toggler {
  color: white;
}


.navbar-brand {

  @media screen and (max-width: $break - 1) {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    margin-right: 0;
    z-index: 1099;
  }

  img {
    height: 195px;
  }

  @media screen and (min-width: $break) {
    align-self: flex-start;
  }
}

#menu-main-menu {
  a {
    text-transform: uppercase;
    margin: 0 1.25rem;
  }

  @media screen and (max-width: $break - 1) {
    text-align: center;
  }

}

#menu-cta-menu {
  a {
    @include serif-regular {
      font-style: italic;
    }
    color: $accent-color;
    border: 1px solid $accent-color;
    padding: .5rem .75rem;
    margin: 0 1.25rem;
    transition: all .2s;

    &:hover {
      background-color: $accent-color;
      color: white;
      text-decoration: none;
    }
  }
  @media screen and (max-width: $break - 1) {
    text-align: center;
    li {
      margin: 1.3rem 0;
    }
  }
}

.search-circle {
  border: 1px solid $light-blue;
  border-radius: 50%;
  // color: transparent;
  margin: 0 .75rem;
  i {
    color: $light-blue;
  }
}
